# Python
venv/
__pycache__/
*.pyc
*.png
*.csv
*.pkl
*.json
*.xlsx
# Data - Add paths to any large data files you don't want to upload
Imp_biometrics/
data/*.h5
*.h5
Biometrics_analysis_using_Machine_learning/Core_multiparadigm_run1_run2/results/
Biometrics_analysis_using_Machine_learning/Core_multiparadigm_run1_run2/Final_results/
Biometrics_analysis_using_Machine_learning/Core_multiparadigm_run1_run2/kt_1d_cnn_tuning/
# IDE and OS files
.vscode/
.idea/
.DS_Store